[package]
name = "changeset"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.89"
chrono = "0.4.38"
clap = { version = "4.5.20", features = ["derive"] }
cliclack = "0.3.5"
confy = "0.6.1"
extism = "1.7.0"
home = "0.5.9"
rand = "0.8.5"
reqwest = { version = "0.12.8", features = ["blocking"] }
semver = "1.0.23"
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
sha256 = "1.5.0"

[dev-dependencies]
rstest = "0.23.0"
assert_cmd = "2.0.16"
predicates = "3.1.2"
tempfile = "3.13.0"
pretty_assertions = "1.4.1"

[profile.release]
lto = true

[profile.dev]
incremental = true

[lints.clippy]
needless-return = "allow"
